openapi: 3.2.0
info:
  title: Primitive Domains API
  version: 1.0.0
  description: Primitive is email infrastructure for AI agents.
  contact:
    name: Primitive
    url: https://primitive.dev
  license:
    name: Proprietary
    url: https://primitive.dev/terms
  x-stability-level: stable
  x-deprecation-policy: 'Breaking changes are announced at least 6 months in advance. Deprecated fields carry x-deprecated: true. The current stable version is v1.'
servers:
- url: https://api.primitive.dev/v1
  description: Canonical API host (PRIMITIVE_API_BASE_URL). Carries every public API operation.
tags:
- name: Domains
  description: Claim, verify, and manage email domains
paths:
  /domains:
    get:
      operationId: listDomains
      summary: List all domains
      description: 'Returns all verified and unverified domains for your organization,

        sorted by creation date (newest first). Each domain includes a

        `verified` boolean to distinguish between the two states.'
      tags:
      - Domains
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        description: 'A domain can be either verified or unverified. Verified domains have

                          `is_active` and `spam_threshold` fields. Unverified domains have a

                          `verification_token` and `dns_records` for DNS setup.

                          '
                        oneOf:
                        - type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            org_id:
                              type: string
                              format: uuid
                            domain:
                              type: string
                            verified:
                              type: boolean
                              const: true
                            is_active:
                              type: boolean
                            spam_threshold:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 15
                            verification_token:
                              type:
                              - string
                              - 'null'
                            created_at:
                              type: string
                              format: date-time
                          required:
                          - id
                          - org_id
                          - domain
                          - verified
                          - is_active
                          - created_at
                        - type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            org_id:
                              type: string
                              format: uuid
                            domain:
                              type: string
                            verified:
                              type: boolean
                              const: false
                            verification_token:
                              type: string
                              description: Add this value as a TXT record to verify ownership
                            dns_records:
                              type: array
                              description: Exact DNS records to publish for a pending domain claim or verification attempt.
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - MX
                                    - TXT
                                    description: DNS record type.
                                  name:
                                    type: string
                                    description: DNS-provider host/name value relative to the managed root zone.
                                  fqdn:
                                    type: string
                                    description: Fully-qualified DNS record name.
                                  value:
                                    type: string
                                    description: Exact value to publish.
                                  priority:
                                    type: integer
                                    description: MX priority. Present only for MX records.
                                  ttl:
                                    type: integer
                                    description: Suggested TTL in seconds when the API can provide one.
                                  required:
                                    type: boolean
                                    const: true
                                  purpose:
                                    type: string
                                    enum:
                                    - inbound_mx
                                    - ownership_verification
                                    - spf
                                    - dkim
                                    - dmarc
                                    - tls_reporting
                                  status:
                                    type: string
                                    enum:
                                    - pending
                                    - found
                                    - missing
                                    - incorrect
                                  message:
                                    type: string
                                    description: Short explanation of why this record is needed.
                                required:
                                - type
                                - name
                                - fqdn
                                - value
                                - required
                                - purpose
                                - status
                            created_at:
                              type: string
                              format: date-time
                          required:
                          - id
                          - org_id
                          - domain
                          - verified
                          - verification_token
                          - created_at
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
      security:
      - BearerAuth: []
    post:
      operationId: addDomain
      summary: Claim a new domain
      description: 'Creates an unverified domain claim and returns the exact

        DNS records to publish in `dns_records`. Publish those

        records before calling the verify endpoint. To give users

        an importable DNS file, call `downloadDomainZoneFile` or run

        `primitive domains zone-file --id `.'
      tags:
      - Domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                domain:
                  type: string
                  minLength: 1
                  maxLength: 253
                  description: The domain name to claim (e.g. "example.com")
                confirmed:
                  type: boolean
                  description: Set to true to confirm replacing an existing mailbox provider after an mx_conflict response.
                outbound:
                  type: boolean
                  deprecated: true
                  description: Deprecated and ignored. Outbound DNS is provisioned for every new domain claim.
              required:
              - domain
      responses:
        '201':
          description: Domain claim created
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        org_id:
                          type: string
                          format: uuid
                        domain:
                          type: string
                        verified:
                          type: boolean
                          const: false
                        verification_token:
                          type: string
                          description: Add this value as a TXT record to verify ownership
                        dns_records:
                          type: array
                          description: Exact DNS records to publish for a pending domain claim or verification attempt.
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              type:
                                type: string
                                enum:
                                - MX
                                - TXT
                                description: DNS record type.
                              name:
                                type: string
                                description: DNS-provider host/name value relative to the managed root zone.
                              fqdn:
                                type: string
                                description: Fully-qualified DNS record name.
                              value:
                                type: string
                                description: Exact value to publish.
                              priority:
                                type: integer
                                description: MX priority. Present only for MX records.
                              ttl:
                                type: integer
                                description: Suggested TTL in seconds when the API can provide one.
                              required:
                                type: boolean
                                const: true
                              purpose:
                                type: string
                                enum:
                                - inbound_mx
                                - ownership_verification
                                - spf
                                - dkim
                                - dmarc
                                - tls_reporting
                              status:
                                type: string
                                enum:
                                - pending
                                - found
                                - missing
                                - incorrect
                              message:
                                type: string
                                description: Short explanation of why this record is needed.
                            required:
                            - type
                            - name
                            - fqdn
                            - value
                            - required
                            - purpose
                            - status
                        created_at:
                          type: string
                          format: date-time
                      required:
                      - id
                      - org_id
                      - domain
                      - verified
                      - verification_token
                      - created_at
        '400':
          $ref: '#/components/responses/ValidationError'
          description: Invalid request parameters
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '409':
          $ref: '#/components/responses/Conflict'
          description: "Domain claim conflicts with existing state. Two error codes\nare possible:\n  * `mx_conflict`: the domain's current MX records point at\n    another mailbox provider. The response includes\n    `error.details.mx_conflict` with the detected provider\n    and a suggested subdomain.\n  * `conflict`: the domain is already claimed by another\n    org, or a pending claim exists for another user.\n"
      security:
      - BearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client-supplied idempotency key. Retrying a request with the same key returns the original result instead of performing the action a second time; if omitted the server derives one from the canonical payload hash. Safe to retry network failures without duplicating side effects.
        schema:
          type: string
          minLength: 1
          maxLength: 255
  /domains/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID
    patch:
      operationId: updateDomain
      summary: Update domain settings
      description: 'Update a verified domain''s settings. Only verified domains can be

        updated. Per-domain spam thresholds require a Pro plan.'
      tags:
      - Domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                is_active:
                  type: boolean
                  description: Whether the domain accepts incoming emails
                spam_threshold:
                  type:
                  - number
                  - 'null'
                  minimum: 0
                  maximum: 15
                  description: Per-domain spam threshold override (Pro plan required)
              minProperties: 1
      responses:
        '200':
          description: Updated domain
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        org_id:
                          type: string
                          format: uuid
                        domain:
                          type: string
                        verified:
                          type: boolean
                          const: true
                        is_active:
                          type: boolean
                        spam_threshold:
                          type:
                          - number
                          - 'null'
                          minimum: 0
                          maximum: 15
                        verification_token:
                          type:
                          - string
                          - 'null'
                        created_at:
                          type: string
                          format: date-time
                      required:
                      - id
                      - org_id
                      - domain
                      - verified
                      - is_active
                      - created_at
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '400':
          $ref: '#/components/responses/ValidationError'
          description: Invalid request parameters
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
      security:
      - BearerAuth: []
    delete:
      operationId: deleteDomain
      summary: Delete a domain
      description: Remove a domain from the organization. Inbound mail for its addresses stops being accepted.
      tags:
      - Domains
      responses:
        '200':
          description: Resource deleted
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        deleted:
                          type: boolean
                          const: true
                      required:
                      - deleted
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '400':
          $ref: '#/components/responses/ValidationError'
          description: Invalid request parameters
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
      security:
      - BearerAuth: []
  /domains/{id}/verify:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID
    post:
      operationId: verifyDomain
      summary: Verify domain ownership
      description: 'Checks DNS records required for inbound routing, ownership,

        and outbound authentication: MX, ownership TXT, SPF, DKIM,

        DMARC, and TLS-RPT.

        On success, the domain is promoted from unverified to verified.

        On failure, returns which checks passed and which failed,

        plus the exact DNS records still expected. To give users

        an importable DNS file for missing records, call

        `downloadDomainZoneFile` or run

        `primitive domains zone-file --id `.'
      tags:
      - Domains
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - type: object
                  properties:
                    data:
                      oneOf:
                      - type: object
                        properties:
                          verified:
                            type: boolean
                            const: true
                          dns_records:
                            type: array
                            description: Exact DNS records to publish for a pending domain claim or verification attempt.
                            items:
                              type: object
                              additionalProperties: false
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - MX
                                  - TXT
                                  description: DNS record type.
                                name:
                                  type: string
                                  description: DNS-provider host/name value relative to the managed root zone.
                                fqdn:
                                  type: string
                                  description: Fully-qualified DNS record name.
                                value:
                                  type: string
                                  description: Exact value to publish.
                                priority:
                                  type: integer
                                  description: MX priority. Present only for MX records.
                                ttl:
                                  type: integer
                                  description: Suggested TTL in seconds when the API can provide one.
                                required:
                                  type: boolean
                                  const: true
                                purpose:
                                  type: string
                                  enum:
                                  - inbound_mx
                                  - ownership_verification
                                  - spf
                                  - dkim
                                  - dmarc
                                  - tls_reporting
                                status:
                                  type: string
                                  enum:
                                  - pending
                                  - found
                                  - missing
                                  - incorrect
                                message:
                                  type: string
                                  description: Short explanation of why this record is needed.
                              required:
                              - type
                              - name
                              - fqdn
                              - value
                              - required
                              - purpose
                              - status
                        required:
                        - verified
                      - type: object
                        properties:
                          verified:
                            type: boolean
                            const: false
                          mxFound:
                            type: boolean
                            description: Whether MX records point to Primitive
                          txtFound:
                            type: boolean
                            description: Whether the TXT verification record was found
                          spfFound:
                            type: boolean
                            description: Whether the SPF record includes Primitive.
                          dkimFound:
                            type: boolean
                            description: Whether the DKIM public key record was found.
                          dmarcFound:
                            type: boolean
                            description: Whether the DMARC record was found.
                          tlsRptFound:
                            type: boolean
                            description: Whether the TLS-RPT record was found.
                          dns_records:
                            type: array
                            description: Exact DNS records to publish for a pending domain claim or verification attempt.
                            items:
                              type: object
                              additionalProperties: false
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - MX
                                  - TXT
                                  description: DNS record type.
                                name:
                                  type: string
                                  description: DNS-provider host/name value relative to the managed root zone.
                                fqdn:
                                  type: string
                                  description: Fully-qualified DNS record name.
                                value:
                                  type: string
                                  description: Exact value to publish.
                                priority:
                                  type: integer
                                  description: MX priority. Present only for MX records.
                                ttl:
                                  type: integer
                                  description: Suggested TTL in seconds when the API can provide one.
                                required:
                                  type: boolean
                                  const: true
                                purpose:
                                  type: string
                                  enum:
                                  - inbound_mx
                                  - ownership_verification
                                  - spf
                                  - dkim
                                  - dmarc
                                  - tls_reporting
                                status:
                                  type: string
                                  enum:
                                  - pending
                                  - found
                                  - missing
                                  - incorrect
                                message:
                                  type: string
                                  description: Short explanation of why this record is needed.
                              required:
                              - type
                              - name
                              - fqdn
                              - value
                              - required
                              - purpose
                              - status
                          error:
                            type: string
                            description: Human-readable verification failure reason
                        required:
                        - verified
                        - mxFound
                        - txtFound
                        - error
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '400':
          $ref: '#/components/responses/ValidationError'
          description: Invalid request parameters
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
      security:
      - BearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client-supplied idempotency key. Retrying a request with the same key returns the original result instead of performing the action a second time; if omitted the server derives one from the canonical payload hash. Safe to retry network failures without duplicating side effects.
        schema:
          type: string
          minLength: 1
          maxLength: 255
  /domains/{id}/zone-file:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID
    get:
      operationId: downloadDomainZoneFile
      summary: Download domain DNS zone file
      description: Downloads a BIND-format DNS zone file containing the DNS records required for a domain claim. Agents should offer this after `addDomain` when users want to import DNS records instead of copying each record manually.
      tags:
      - Domains
      security:
      - BearerAuth: []
      parameters:
      - name: outbound_only
        in: query
        schema:
          type: boolean
        description: When true, include only outbound DNS records. Verified domains default to outbound-only; pending claims default to all required records.
      responses:
        '200':
          description: BIND-format zone file
          content:
            text/plain:
              schema:
                type: string
                format: binary
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="example.com.zone"
        '400':
          $ref: '#/components/responses/ValidationError'
          description: Invalid request parameters
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
        '429':
          $ref: '#/components/responses/RateLimited'
          description: Rate limit exceeded
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: not_found
              message: Resource not found
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: rate_limit_exceeded
              message: Rate limit exceeded
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: unauthorized
              message: Invalid or missing API key
    Conflict:
      description: The request conflicts with the current state of the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: conflict
              message: settlement already in progress
    ValidationError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: validation_error
              message: Invalid domain format
  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          properties:
            code:
              type: string
              enum:
              - unauthorized
              - forbidden
              - not_found
              - validation_error
              - rate_limit_exceeded
              - internal_error
              - conflict
              - mx_conflict
              - outbound_disabled
              - cannot_send_from_domain
              - recipient_not_allowed
              - outbound_key_missing
              - outbound_unreachable
              - outbound_key_invalid
              - outbound_capacity_exhausted
              - outbound_response_malformed
              - outbound_relay_failed
              - discard_not_enabled
              - inbound_not_repliable
              - search_timeout
              - authorization_pending
              - slow_down
              - access_denied
              - expired_token
              - invalid_device_code
              - invalid_signup_code
              - invalid_signup_token
              - invalid_verification_code
              - email_delivery_failed
              - clerk_signup_failed
              - no_orgs_for_user
              - org_not_accessible
              - feature_disabled
              - memory_conflict
              - developer_usage_credit_exhausted
              - no_payout_address
              - ownership_proof_failed
              - payment_verification_failed
              - payment_declined
              - challenge_expired
              - settlement_failed
              - template_not_installable
              - scaffold_only
              - invalid_variables
              - unknown_secrets
              - missing_secrets
              - no_inbound_domain
              - domain_cannot_send
              - address_taken
              - route_cap_reached
              - name_exhausted
            message:
              type: string
            details:
              type: object
              description: 'Optional structured data that callers can inspect to recover

                from the error. The fields present depend on `code`. Additional

                keys may be added over time without a major-version bump.

                '
              additionalProperties: true
              properties:
                mx_conflict:
                  type: object
                  description: Present when `code == mx_conflict`.
                  required:
                  - provider_name
                  - suggested_subdomain
                  properties:
                    provider_name:
                      type: string
                      description: Human-readable name of the detected mailbox provider (e.g. "Google Workspace").
                    suggested_subdomain:
                      type: string
                      description: Subdomain to try instead (e.g. "mail" for `mail.example.com`).
                required_entitlements:
                  type: array
                  items:
                    type: string
                  description: Entitlements that would allow a denied send when no recipient-scope gate was granted.
                sent_email_id:
                  type: string
                  description: ID of the persisted sent-email attempt associated with the error.
                content_hash:
                  type: string
                  description: Content hash of the original request on idempotency cache-hit errors.
                client_idempotency_key:
                  type: string
                  description: Effective idempotency key associated with the original request.
            gates:
              type: array
              items:
                $ref: '#/components/schemas/GateDenial'
              description: Structured per-gate denial detail for recipient-scope send-mail failures.
            request_id:
              type: string
              description: Server-issued request identifier for support and tracing.
          required:
          - code
          - message
      required:
      - success
      - error
    GateDenial:
      type: object
      properties:
        name:
          type: string
          enum:
          - send_to_confirmed_domains
          - send_to_known_addresses
          description: Public recipient-scope gate name that denied the send.
        reason:
          type: string
          enum:
          - domain_not_confirmed
          - recipient_unauthenticated
          - recipient_not_known
          description: Stable machine-readable denial reason.
        message:
          type: string
          description: Human-readable explanation of the gate denial.
        subject:
          type: string
          description: Domain or address the gate evaluated.
        fix:
          $ref: '#/components/schemas/GateFix'
        docs_url:
          type: string
          description: Public docs URL with more context.
      required:
      - name
      - reason
      - message
      - subject
    GateFix:
      type: object
      properties:
        action:
          type: string
          enum:
          - confirm_domain
          - sender_must_fix_authentication
          - wait_for_inbound
          description: Suggested next action for the caller.
        subject:
          type: string
          description: Entity the action applies to.
      required:
      - action
      - subject
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API key with `prim_` prefix or OAuth access token with `prim_oat_` prefix: `Authorization: Bearer <token>`. Access is governed by the caller''s organization role (`owner`, `admin`, or `member`): API keys always act at `member` level regardless of who created them, and OAuth access tokens act with the authorizing user''s current organization role, resolved per request. Every operation in this spec is available to organization members; billing and organization administration are owner/admin actions performed in the dashboard and are not part of this API.'
    DownloadToken:
      type: apiKey
      in: query
      name: token
      description: Signed download token provided in webhook payloads
