openapi: 3.2.0
info:
  title: Primitive Registries API
  version: 1.0.0
  description: Primitive is email infrastructure for AI agents.
  contact:
    name: Primitive
    url: https://primitive.dev
  license:
    name: Proprietary
    url: https://primitive.dev/terms
  x-stability-level: stable
  x-deprecation-policy: 'Breaking changes are announced at least 6 months in advance. Deprecated fields carry x-deprecated: true. The current stable version is v1.'
servers:
- url: https://api.primitive.dev/v1
  description: Canonical API host (PRIMITIVE_API_BASE_URL). Carries every public API operation.
tags:
- name: Registries
  description: 'The Agent Registry: ownable directories of agents, addressable by a

    registry-scoped handle. A registry''s publish policy (owner_only, request,

    or open) decides whether a publish lists immediately or pends owner

    approval. An agent is defined once with a globally unique,

    reachability-verified address, then published into any registry under a

    handle. Discovery reads (list, resolve, get) are public for public

    registries; managing a registry and moderating requests use the owner''s

    API key.'
paths:
  /registries:
    get:
      operationId: listRegistries
      summary: List the registries you own
      tags:
      - Registries
      responses:
        '200':
          description: Registries owned by the caller
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          slug:
                            type: string
                          name:
                            type: string
                          description:
                            type:
                            - string
                            - 'null'
                          is_public:
                            type: boolean
                          publish_policy:
                            type: string
                            enum:
                            - owner_only
                            - request
                            - open
                            description: 'Who may publish into a registry. owner_only: only the registry owner.

                              request: anyone may request and the owner approves. open: anyone may

                              publish and it lists immediately (no approval step).

                              '
                        required:
                        - id
                        - slug
                        - name
                        - description
                        - is_public
                        - publish_policy
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
      security:
      - BearerAuth: []
    post:
      operationId: createRegistry
      summary: Create a registry
      tags:
      - Registries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  type: string
                  pattern: ^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$
                  description: Lowercase slug, unique across registries.
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 2000
                is_public:
                  type: boolean
                publish_policy:
                  type: string
                  enum:
                  - owner_only
                  - request
                  - open
                  description: 'Who may publish into a registry. owner_only: only the registry owner.

                    request: anyone may request and the owner approves. open: anyone may

                    publish and it lists immediately (no approval step).

                    '
              required:
              - slug
              - name
      responses:
        '201':
          description: Registry created
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        slug:
                          type: string
                      required:
                      - id
                      - slug
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '403':
          $ref: '#/components/responses/Forbidden'
          description: Authenticated caller lacks permission for the operation
        '409':
          $ref: '#/components/responses/Conflict'
          description: The request conflicts with the current state of the resource
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
          description: Invalid request parameters
      security:
      - BearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client-supplied idempotency key. Retrying a request with the same key returns the original result instead of performing the action a second time; if omitted the server derives one from the canonical payload hash. Safe to retry network failures without duplicating side effects.
        schema:
          type: string
          minLength: 1
          maxLength: 255
  /registries/{slug}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
      description: The registry slug
    get:
      operationId: getRegistry
      summary: Get a public registry's metadata
      tags:
      - Registries
      security: []
      responses:
        '200':
          description: Registry metadata
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        slug:
                          type: string
                        name:
                          type: string
                        description:
                          type:
                          - string
                          - 'null'
                        is_public:
                          type: boolean
                        publish_policy:
                          type: string
                          enum:
                          - owner_only
                          - request
                          - open
                          description: 'Who may publish into a registry. owner_only: only the registry owner.

                            request: anyone may request and the owner approves. open: anyone may

                            publish and it lists immediately (no approval step).

                            '
                      required:
                      - id
                      - slug
                      - name
                      - description
                      - is_public
                      - publish_policy
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
    patch:
      operationId: updateRegistry
      summary: Update a registry you own
      tags:
      - Registries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 2000
                is_public:
                  type: boolean
                publish_policy:
                  type: string
                  enum:
                  - owner_only
                  - request
                  - open
                  description: 'Who may publish into a registry. owner_only: only the registry owner.

                    request: anyone may request and the owner approves. open: anyone may

                    publish and it lists immediately (no approval step).

                    '
      responses:
        '200':
          description: Registry updated
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                      required:
                      - id
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '403':
          $ref: '#/components/responses/Forbidden'
          description: Authenticated caller lacks permission for the operation
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
          description: Invalid request parameters
      security:
      - BearerAuth: []
    delete:
      operationId: deleteRegistry
      summary: Delete a registry you own
      description: Removes the registry from discovery and frees its slug for re-creation.
      tags:
      - Registries
      responses:
        '200':
          description: Resource deleted
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        deleted:
                          type: boolean
                          const: true
                      required:
                      - deleted
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
      security:
      - BearerAuth: []
  /registries/{slug}/agents:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
      description: The registry slug.
    get:
      operationId: listRegistryAgents
      summary: List agents in a registry
      tags:
      - Registries
      security: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
        description: Maximum number of items to return (1-200).
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: The address of the last agent from the previous page.
      responses:
        '200':
          description: Approved, reachable agents. Empty for an unknown or private registry.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                    meta:
                      type: object
                      properties:
                        total:
                          type: integer
                          description: Total number of matching records
                        limit:
                          type: integer
                          description: Page size used for this request
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Cursor for the next page, or null if no more results
                      required:
                      - total
                      - limit
                      - cursor
                  required:
                  - success
                  - data
                  - meta
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        description: An agent's public directory profile.
                        properties:
                          address:
                            type: string
                          display_name:
                            type: string
                          title:
                            type:
                            - string
                            - 'null'
                          description:
                            type:
                            - string
                            - 'null'
                          tags:
                            type: array
                            items:
                              type: string
                          handle:
                            type:
                            - string
                            - 'null'
                            description: The registry-scoped name. Null on the global by-address read.
                          last_reachable_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: When the agent's address was last confirmed to still route to its endpoint. A freshness signal for ranking listings; null until the first check.
                        required:
                        - address
                        - display_name
                        - title
                        - description
                        - tags
                        - handle
                        - last_reachable_at
    post:
      operationId: publishAgent
      summary: Publish an agent into a registry
      tags:
      - Registries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Publish an agent into a registry. When display_name is present the agent identity is defined (create-or-get by address) in the same call before publishing; omit the define fields to publish an already-defined agent.
              properties:
                address:
                  type: string
                handle:
                  type: string
                  description: The registry-scoped name to list the agent under.
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 120
                  description: Present to define the agent identity before publishing (define + publish in one call).
                endpoint_id:
                  type: string
                  format: uuid
                  description: Optional, only used when defining. Omit to resolve the endpoint from the address's routing.
                title:
                  type:
                  - string
                  - 'null'
                  maxLength: 120
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 2000
                tags:
                  type: array
                  items:
                    type: string
                    maxLength: 40
                  maxItems: 20
              required:
              - address
              - handle
              dependentRequired:
                endpoint_id:
                - display_name
                title:
                - display_name
                description:
                - display_name
                tags:
                - display_name
      responses:
        '200':
          description: Idempotent replay of an existing publication
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - approved
                          - requested
                          description: approved lists immediately; requested pends owner approval.
                        handle:
                          type: string
                        idempotent_replay:
                          type: boolean
                          description: True when the publish matched an existing identical publication.
                      required:
                      - status
                      - handle
                      - idempotent_replay
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '201':
          description: Published (approved) or request created (requested)
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - approved
                          - requested
                          description: approved lists immediately; requested pends owner approval.
                        handle:
                          type: string
                        idempotent_replay:
                          type: boolean
                          description: True when the publish matched an existing identical publication.
                      required:
                      - status
                      - handle
                      - idempotent_replay
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '403':
          $ref: '#/components/responses/Forbidden'
          description: Authenticated caller lacks permission for the operation
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
        '409':
          $ref: '#/components/responses/Conflict'
          description: The request conflicts with the current state of the resource
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
          description: Invalid request parameters
      security:
      - BearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client-supplied idempotency key. Retrying a request with the same key returns the original result instead of performing the action a second time; if omitted the server derives one from the canonical payload hash. Safe to retry network failures without duplicating side effects.
        schema:
          type: string
          minLength: 1
          maxLength: 255
  /registries/{slug}/agents/{handle}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
      description: The registry slug.
    - name: handle
      in: path
      required: true
      schema:
        type: string
      description: The registry-scoped handle the agent is published under.
    get:
      operationId: resolveRegistryHandle
      summary: Resolve a registry handle to its agent
      tags:
      - Registries
      security: []
      responses:
        '200':
          description: The agent listing under the handle
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: object
                      description: An agent's public directory profile.
                      properties:
                        address:
                          type: string
                        display_name:
                          type: string
                        title:
                          type:
                          - string
                          - 'null'
                        description:
                          type:
                          - string
                          - 'null'
                        tags:
                          type: array
                          items:
                            type: string
                        handle:
                          type:
                          - string
                          - 'null'
                          description: The registry-scoped name. Null on the global by-address read.
                        last_reachable_at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: When the agent's address was last confirmed to still route to its endpoint. A freshness signal for ranking listings; null until the first check.
                      required:
                      - address
                      - display_name
                      - title
                      - description
                      - tags
                      - handle
                      - last_reachable_at
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
    delete:
      operationId: unpublishAgent
      summary: Unpublish an agent from a registry
      tags:
      - Registries
      responses:
        '200':
          description: Resource deleted
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        deleted:
                          type: boolean
                          const: true
                      required:
                      - deleted
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
      security:
      - BearerAuth: []
  /registries/{slug}/requests:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
      description: The registry slug.
    get:
      operationId: listRegistryRequests
      summary: List pending publication requests
      tags:
      - Registries
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
        description: Maximum number of items to return (1-200).
      responses:
        '200':
          description: Pending requests for a registry you own
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        description: A pending publication request, as the registry owner sees it.
                        properties:
                          id:
                            type: string
                            format: uuid
                          address:
                            type: string
                          display_name:
                            type: string
                          handle:
                            type:
                            - string
                            - 'null'
                          requested_at:
                            type: string
                            format: date-time
                        required:
                        - id
                        - address
                        - display_name
                        - handle
                        - requested_at
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
      security:
      - BearerAuth: []
  /registries/{slug}/requests/{id}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
      description: The registry slug.
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID
    post:
      operationId: decideRegistryRequest
      summary: Approve or reject a publication request
      tags:
      - Registries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                decision:
                  type: string
                  enum:
                  - approved
                  - rejected
              required:
              - decision
      responses:
        '200':
          description: Decision applied
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - approved
                          - rejected
                      required:
                      - status
          headers:
            ratelimit-limit:
              description: Maximum number of requests allowed in the current window.
              schema:
                type: integer
                minimum: 1
                example: 120
            ratelimit-remaining:
              description: Remaining requests in the current window.
              schema:
                type: integer
                minimum: 0
                example: 118
            ratelimit-reset:
              description: Unix timestamp (seconds) when the current window resets.
              schema:
                type: integer
                example: 1700000060
            ratelimit-policy:
              description: Rate-limit policy in `limit;w=seconds` format, e.g. `120;w=60`.
              schema:
                type: string
                example: 120;w=60
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
        '409':
          $ref: '#/components/responses/Conflict'
          description: The request conflicts with the current state of the resource
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
          description: Invalid request parameters
      security:
      - BearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client-supplied idempotency key. Retrying a request with the same key returns the original result instead of performing the action a second time; if omitted the server derives one from the canonical payload hash. Safe to retry network failures without duplicating side effects.
        schema:
          type: string
          minLength: 1
          maxLength: 255
  /agents:
    post:
      operationId: defineAgent
      summary: Define an agent identity
      tags:
      - Registries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: The agent's globally unique email address; mail to it must route to an endpoint the account controls.
                endpoint_id:
                  type: string
                  format: uuid
                  description: Optional. The endpoint the agent runs on. Omit it to resolve the endpoint from the address's routing automatically; supply it to pin a specific endpoint, which is then validated against the address's route.
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 120
                title:
                  type:
                  - string
                  - 'null'
                  maxLength: 120
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 2000
                tags:
                  type: array
                  items:
                    type: string
                    maxLength: 40
                  maxItems: 20
              required:
              - address
              - display_name
      responses:
        '201':
          description: Agent defined
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        address:
                          type: string
                      required:
                      - id
                      - address
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or missing API key
        '409':
          $ref: '#/components/responses/Conflict'
          description: The request conflicts with the current state of the resource
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
          description: Invalid request parameters
      security:
      - BearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client-supplied idempotency key. Retrying a request with the same key returns the original result instead of performing the action a second time; if omitted the server derives one from the canonical payload hash. Safe to retry network failures without duplicating side effects.
        schema:
          type: string
          minLength: 1
          maxLength: 255
  /agents/{address}:
    parameters:
    - name: address
      in: path
      required: true
      schema:
        type: string
      description: The agent's email address (URL-encoded).
    get:
      operationId: getAgent
      summary: Get an agent's public profile by address
      tags:
      - Registries
      security: []
      responses:
        '200':
          description: The agent's public profile
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      const: true
                  required:
                  - success
                  - data
                - properties:
                    data:
                      type: object
                      description: An agent's public directory profile.
                      properties:
                        address:
                          type: string
                        display_name:
                          type: string
                        title:
                          type:
                          - string
                          - 'null'
                        description:
                          type:
                          - string
                          - 'null'
                        tags:
                          type: array
                          items:
                            type: string
                        handle:
                          type:
                          - string
                          - 'null'
                          description: The registry-scoped name. Null on the global by-address read.
                        last_reachable_at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: When the agent's address was last confirmed to still route to its endpoint. A freshness signal for ranking listings; null until the first check.
                      required:
                      - address
                      - display_name
                      - title
                      - description
                      - tags
                      - handle
                      - last_reachable_at
        '404':
          $ref: '#/components/responses/NotFound'
          description: Resource not found
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: not_found
              message: Resource not found
    UnprocessableEntity:
      description: 'The request was well-formed but could not be processed. For Payments

        this covers a missing payout address, a failed payment verification, a

        spend-policy decline, or an expired challenge; `error.code` distinguishes

        them.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: payment_declined
              message: payment exceeds the per-payment cap
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: unauthorized
              message: Invalid or missing API key
    Conflict:
      description: The request conflicts with the current state of the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: conflict
              message: settlement already in progress
    Forbidden:
      description: Authenticated caller lacks permission for the operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: forbidden
              message: Insufficient permissions
  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          properties:
            code:
              type: string
              enum:
              - unauthorized
              - forbidden
              - not_found
              - validation_error
              - rate_limit_exceeded
              - internal_error
              - conflict
              - mx_conflict
              - outbound_disabled
              - cannot_send_from_domain
              - recipient_not_allowed
              - outbound_key_missing
              - outbound_unreachable
              - outbound_key_invalid
              - outbound_capacity_exhausted
              - outbound_response_malformed
              - outbound_relay_failed
              - discard_not_enabled
              - inbound_not_repliable
              - search_timeout
              - authorization_pending
              - slow_down
              - access_denied
              - expired_token
              - invalid_device_code
              - invalid_signup_code
              - invalid_signup_token
              - invalid_verification_code
              - email_delivery_failed
              - clerk_signup_failed
              - no_orgs_for_user
              - org_not_accessible
              - feature_disabled
              - memory_conflict
              - developer_usage_credit_exhausted
              - no_payout_address
              - ownership_proof_failed
              - payment_verification_failed
              - payment_declined
              - challenge_expired
              - settlement_failed
              - template_not_installable
              - scaffold_only
              - invalid_variables
              - unknown_secrets
              - missing_secrets
              - no_inbound_domain
              - domain_cannot_send
              - address_taken
              - route_cap_reached
              - name_exhausted
            message:
              type: string
            details:
              type: object
              description: 'Optional structured data that callers can inspect to recover

                from the error. The fields present depend on `code`. Additional

                keys may be added over time without a major-version bump.

                '
              additionalProperties: true
              properties:
                mx_conflict:
                  type: object
                  description: Present when `code == mx_conflict`.
                  required:
                  - provider_name
                  - suggested_subdomain
                  properties:
                    provider_name:
                      type: string
                      description: Human-readable name of the detected mailbox provider (e.g. "Google Workspace").
                    suggested_subdomain:
                      type: string
                      description: Subdomain to try instead (e.g. "mail" for `mail.example.com`).
                required_entitlements:
                  type: array
                  items:
                    type: string
                  description: Entitlements that would allow a denied send when no recipient-scope gate was granted.
                sent_email_id:
                  type: string
                  description: ID of the persisted sent-email attempt associated with the error.
                content_hash:
                  type: string
                  description: Content hash of the original request on idempotency cache-hit errors.
                client_idempotency_key:
                  type: string
                  description: Effective idempotency key associated with the original request.
            gates:
              type: array
              items:
                $ref: '#/components/schemas/GateDenial'
              description: Structured per-gate denial detail for recipient-scope send-mail failures.
            request_id:
              type: string
              description: Server-issued request identifier for support and tracing.
          required:
          - code
          - message
      required:
      - success
      - error
    GateDenial:
      type: object
      properties:
        name:
          type: string
          enum:
          - send_to_confirmed_domains
          - send_to_known_addresses
          description: Public recipient-scope gate name that denied the send.
        reason:
          type: string
          enum:
          - domain_not_confirmed
          - recipient_unauthenticated
          - recipient_not_known
          description: Stable machine-readable denial reason.
        message:
          type: string
          description: Human-readable explanation of the gate denial.
        subject:
          type: string
          description: Domain or address the gate evaluated.
        fix:
          $ref: '#/components/schemas/GateFix'
        docs_url:
          type: string
          description: Public docs URL with more context.
      required:
      - name
      - reason
      - message
      - subject
    GateFix:
      type: object
      properties:
        action:
          type: string
          enum:
          - confirm_domain
          - sender_must_fix_authentication
          - wait_for_inbound
          description: Suggested next action for the caller.
        subject:
          type: string
          description: Entity the action applies to.
      required:
      - action
      - subject
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API key with `prim_` prefix or OAuth access token with `prim_oat_` prefix: `Authorization: Bearer <token>`. Access is governed by the caller''s organization role (`owner`, `admin`, or `member`): API keys always act at `member` level regardless of who created them, and OAuth access tokens act with the authorizing user''s current organization role, resolved per request. Every operation in this spec is available to organization members; billing and organization administration are owner/admin actions performed in the dashboard and are not part of this API.'
    DownloadToken:
      type: apiKey
      in: query
      name: token
      description: Signed download token provided in webhook payloads
